

  #canvas {
    background-color:white;
  }

  .color {
    font-family: fantasy;
    position:absolute; 
    top:47px;
    left:30px;
    cursor: url("choose_color_icon.png") ,auto;
  }

  #red{
      cursor: url("choose_color_icon.png") ,auto;
  }

  #green{
    cursor: url("choose_color_icon.png") ,auto;
  }

  #blue{
    cursor: url("choose_color_icon.png") ,auto;
  }

  #eraser {
    position:absolute; 
    top:25px; 
    left:370px;
    cursor: crosshair;
  }

  #pen {
    position:absolute; 
    top:5px; 
    left:230px;
    cursor: default;
  }
  
  #text {
    position:absolute; 
    top:10px; 
    left:1145px;
    cursor: default;
  }

  .size {
      font-family: fantasy;
      font-size: 16px;
      position: absolute;
      top:120px;
      left:175px;
  }


  .word_color { 
    font-family: fantasy;
    font-size: 20px;
    position:absolute; 
    top:0px; 
    left:25px;
  }

  #reset{
      font-family: fantasy;
      font-size: 19px;
      position: absolute;
      top: 790px;
      left: 1270px;
      width: 65px;
      height: 35px;
  }

  #type_text{
    position: absolute; 
    top:85px; 
    left:1105px;
    font-size: 13px;
    font-family: fantasy;
  }

  #type_text2{
    position: absolute; 
    top:100px; 
    left:1110px;
    font-size: 13px;
    font-family: fantasy;
  }

  #type_text3{
    position: absolute; 
    top:115px; 
    left:1110px;
    font-size: 13px;
    font-family: fantasy;
  }

  #download{
    position: absolute; 
    top:157px; 
    left:1310px;
    font-size: 20px;
    font-family: fantasy;
    text-decoration:none;
    color: black;
    cursor: pointer;
  }

  #download_image{
    position: absolute; 
    top:155px; 
    left:1280px;
  }





 